
.nav-bar{
    background-color:rgb(230, 101, 101);
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin-top: -7px;
    margin-left: -7px;
    padding: 10px;
    position: fixed;
   
   
}
.left-icon{
    display: flex;
    border: 1px solid black;
    height: 20px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    
}
.left-icon2{
    margin-left: 15px;
    height: 100%;
    background-color: brown;
    width: 50%;
}
.main-part{
    /* position: relative; */
    /* z-index: -1; */
}
.tnw-header{
    background-color: rgb(130, 183, 204);
    width: 100%;
    height: 200px;
    display: grid;
    /* position: relative; */
    /* z-index: 0; */
    align-items: center;
}
.tnw-svg{
    height: 30px;
    width: 35%;
    border: 2px solid black;
    margin-top: 90px;
    margin-left: 35%;
    font-size: 70px;
}

.tnw-txt{
    border: 2px solid black;
    width: 45%;
    margin-left: 35%;
    font-size: 15px;
    white-space: nowrap;
}
.container{
    background-color: chartreuse;
    margin: -8px;
    padding: 7px;
    width: 100%;
    overflow: hidden;
   /* position: relative; */
    /* z-index: -2; */
}
/* .flexed-images-text{
    border:1x solid rgb(136, 19, 19);
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width:100%;
    height: 200px;
  
} */

.five-images-text{
    height: 500px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 250px 250px;
}
.flexed-images-text{
    border: 3px solid yellow;
    display: grid;
    grid-template-columns:250px 250px 250px 250px ;
    column-gap: 10px;grid-template-rows: 250px 250px;
    row-gap:10px;
    overflow-x: scroll;
    scrollbar-width: 0px;
    height: 250px;
    width: 320px;
    
}

.single-image-text{
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
      
}
.single-image-footer{
    border:1px solid red;
    border-radius: 50px;
    width: 100px;
    height: 40px;
    margin-left: 28%;
    padding-top: 10px;
    padding-left: 13px;
    white-space: nowrap;
}

.flexed-image-1{
    border:1px solid black;
    /* width: 375x;
    height:240px; */
    

}
.flexed-image-2{
    border: 1px solid black;
}
    /* width: 375x;
    height:240px;
} */
.flexed-image-3{
    border: 1px solid black;
    /* width: 375x;
    height:240px; */
}
.flexed-image-4{
    border: 1px solid black;
    /* width: 375x;
    height:240px; */
}
.single-image-text{
    border: 1px solid black;
    /* width: 375px;
    height: 240px; */
}






