html{
    width: 769px;
}


.nav-bar{
    background-color:rgb(230, 101, 101);
    width: 100%;
    height: 40px;
    margin-top: -7px;
    margin-left: -7px;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 40px;
   
   
}
.left-icon{
    display: grid;
    border: 1px solid black;
    grid-template-columns: 1fr 1fr 4fr;
    grid-column-gap: 20px;
    justify-items: center;
    padding-left: 15px;
    padding-top: 10px;
    grid-template-rows: 20px;
    /* height: 10px;
    width: 100px;
    margin: 10px;
    padding: 10px; */
    
}
.left-icon1{
    border: 2px solid white;
}
.menu-icon{
    color: lawngreen;
    fill: lawngreen;
    height: 10px;
    width: 10px;
}
.left-icon2{
    border: 3px solid rgb(84, 161, 32);
    height: 20px;
    
}
.left-icon2-true{
    width: 100px;
    height: 20px;
}

.menu{
/* visibility: hidden; */
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
grid-column-gap: 20px;
grid-template-rows: 20px;
padding-top: 10px;

}
.home{
    border:1px solid black;

}
.news{
    border:1px solid black; 
}
.partner{
    white-space: nowrap;
}
.right-icon{
    border:3px solid hotpink;
    display: grid;
    justify-items: end;
    padding-top: 10px;
    padding-right: 10px;

}
.right-icon-true{
    height: 20px;
    color: ivory;
    fill: lawngreen;
}

.main-part{
    /* position: relative; */
    /* z-index: -1; */
}
.tnw-header{
    background-color: rgb(130, 183, 204);
    width: 320px;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* position: relative; */
    /* z-index: 0; */
   
}
.tnw-svg{
    height: 30px;
    width: 320px;
    border: 2px solid black;
    margin-top: 50px;
    padding-top: 10px;
    margin-left: 35%;
}

.tnw-txt{
    border: 2px solid black;
    width: 45%;
    margin-left: 35%;
    font-size: 1.3rem;
    white-space: nowrap;
}
.container{
    background-color: chartreuse;
    margin: -8px;
    padding: 7px;
    width: 100%;
    overflow: hidden;
}

.five-images-text{
    height: 420px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 250px 170px;
}
.flexed-images-text{
    border: 3px solid yellow;
    display: grid;
    grid-template-columns:250px 250px 250px 250px ;
    column-gap: 10px;
    grid-template-rows: 250px 250px;
    row-gap:10px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: 0px;
    height: 250px;
    width: 320px;
    
    
}

.flexed-image-1{
    border:1px solid black;
    background-image: linear-gradient( to top, #000000, white);
    background-image:linear-gradient(to top,rgba(0, 0, 0,0.9), rgba(255, 255, 255,0.2)), url(https://img-cdn.tnwcdn.com/image?fit=600%2C300&url=https%3A%2F%2Fs3.amazonaws.com%2Fevents.tnw%2Fhardfork-2018%2Fuploads%2Fvisuals%2Faliens_2021-12-29-090839_eefs.jpeg&signature=cac4fc779234c5044bb86891c72cfd08);
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(to top, black, white); */
    opacity: 1;
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: end;
    grid-row-gap: 1px; */
    padding-top: 55%;
    padding-left: 10px;
    padding-right: 10px;
  

}
.flexed-image-2{
    border: 1px solid black;
    padding-top: 45%;
    padding-left: 10px;
    padding-right: 10px;
    background-image:linear-gradient(to top,rgba(0, 0, 0,0.9), rgba(255, 255, 255,0.2)), url(https://img-cdn.tnwcdn.com/image?fit=600%2C300&url=https%3A%2F%2Fs3.amazonaws.com%2Fevents.tnw%2Fhardfork-2018%2Fuploads%2Fvisuals%2Fkinner.jpeg&signature=82579a9b800a4a8694c1e7f3285d1fcc);
    background-position: center;
    background-repeat: no-repeat;
}
    
.flexed-image-3{
    border: 1px solid black;
    padding-top: 50%;
    padding-left: 10px;
    padding-right: 10px;
    background:linear-gradient(to top,rgba(0, 0, 0,0.9), rgba(255, 255, 255,0.2)),url(https://img-cdn.tnwcdn.com/image?fit=600%2C300&url=https%3A%2F%2Fs3.amazonaws.com%2Fevents.tnw%2Fhardfork-2018%2Fuploads%2Fvisuals%2Fchip.jpeg&signature=2576ef6ed902cd286a7a6a247dc1ed44);
    background-position: center;
    background-repeat: no-repeat;
}
   

.flexed-image-4{
    border: 1px solid black;
    padding-top: 50%;
    padding-left: 10px;
    padding-right: 10px;
    background-image:linear-gradient(to top,rgba(0, 0, 0,0.9), rgba(255, 255, 255,0.2)), url(https://img-cdn.tnwcdn.com/image?fit=600%2C300&url=https%3A%2F%2Fs3.amazonaws.com%2Fevents.tnw%2Fhardfork-2018%2Fuploads%2Fvisuals%2Fdelusional.jpeg&signature=da0cb183650428b86d26504560951067);
    background-position: center;
    background-repeat: no-repeat;

    
}

.flexed-image-header{
    color: rgb(255, 255, 255);
    font: 0.7em sans-serif;
    font-weight: bold;
    border: 2px solid red;
    
}
.flexed-image-content{
    border: 2px solid rgb(49, 19, 184);
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-family: sans-serif;

}


.single-image-text{
    border: 1px solid black;
    /* width:290px;
    height: 100px; */
    display: grid;
    grid-template-columns: 250px 250px 250px 250px ;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 20px;
    color: #ffffff;
    font: 1.em sans-serif;
    font-weight: bold;
    background-image: url(https://img-cdn.tnwcdn.com/image?fit=285%2C150&url=https%3A%2F%2Fs3.amazonaws.com%2Fevents.tnw%2Fhardfork-2018%2Fuploads%2Fcompanies%2Fhome-header_advert-tnw2021-03.jpg&signature=5666d931fff7b6ec7496f08886c9fde0);
    background-size:320px 170px;
    overflow: hidden;
    background-repeat: no-repeat;
      
}

.single-image-footer{
    border:1px solid rgb(255, 255, 255);
    border-radius: 50px;
    width: 120px;
    height: 30px;
    margin-left: 20%;
    padding-left: 13px;
    padding-top: 10px;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: bold;
}
.tech-carrier{
    margin-top: 40px;
    width: 320px;
    margin-left: -7px;
}
.tech-img{
    width: 320px;
    height: 60px;
}
.popular{
    background-color:rgb(230, 233, 240);
    width: 300px;
    padding-top: 25px;
    height:570px;
    padding-right: 20px;
    margin-left: -7px;
}
.popular-header{
    color: rgb(118, 118, 126);
    font-weight:lighter;
    font-family:monospace;
    letter-spacing: -2px;
    word-spacing: -.3em;
    font-size: 1rem;
    margin-left: 50px;
    border: 2px solid black;
}
.popular-article-txt a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-size: 1.1rem;
    font-weight:bolder;
    display: inline;
    
    
    
}
ol{
    list-style: none; counter-reset:li;
}
li::before{

    content:counter(li) ; color: rgb(194, 32, 113);  width: 1.2rem; 
    margin-left: -1em; counter-increment: li; display:inline-block;font-size: 1.6rem; font-style:initial;
     
}

.latest{border: 2px solid red;
    width: 320px;
    height: 1200px;
    background-color: rgb(255, 255, 255);
}
.latest-header{
    border: 1px solid yellow;
    margin-top: 50px;
    margin-left: 30%;
    height: 40px;
    font-size: 2rem;
    font-family:sans-serif;
    font-weight: bold;
}
.latest-1{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 50px;
    width: 320px;
    height: 500px;
    border: 5px solid fuchsia;
    margin-top: 30px;
}
.latest-img-1{
   
    border: 2px solid blue;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 30px;
    height: 500px;
    margin-top: 2px;
    
}
.img-1{
    height: 70px;
    width: 80px;
}
.latest-text-1{
    width: 170px;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 5fr 1fr 5fr 1fr 5fr;
    padding-left: 10px;
}
.latest-1-header a{
text-decoration: none;
color: rgb(137, 230, 206);
font-weight: bold;
font-family:monospace;
}
.latest-1-text a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

/* latest-2 */

.latest-2{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 50px;
    width: 320px;
    height: 500px;
    border: 5px solid fuchsia;
    margin-top: 0px;
}
.latest-img-2{
   
    border: 2px solid blue;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-left: 30px;
    height: 500px;
    margin-top: 2px;
    
}
.img-2{
    height: 70px;
    width: 80px;
}
.latest-text-2{
    width: 170px;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 5fr 1fr 5fr 1fr 5fr;
    padding-left: 10px;
    margin-top: -2px;
    
}
.latest-2-header a{
text-decoration: none;
color: rgb(137, 230, 206);
font-weight: bold;
font-family:monospace;
}
.latest-2-text a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.all-news{
    height: 30px;
    width:220px;
    display: flex;
    border: 1px solid rgb(233, 10, 203);
    background-color: rgb(233, 10, 203);
    margin-top: 50px;
    border-radius: 50px;
    flex-direction: row;
    padding-top: 20px;
    padding-left: 100px;
}
.all-icon{
    height: 20px;
    width: 20px;
    margin-top: -3px;
    margin-left: 120px;
    opacity: 0.3;
}
.all{
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




