.fa
{
    text-decoration: none;
    color: rgb(39, 37, 37);
    fill: black;
    ---fa-primary-color: black;
}
.footer{
    display:inline-flex;
}
.scroll-playlist{
    overflow: hidden;
    display: grid;
    grid-template: 2fr 1fr ;
}
.video-area{
    display: flex;
}

